@use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
  $theme-color: "indigo",
  $semantic-root-element: "#root",
  $enable-semantic-container: true,
  $enable-classes: false
);

#root {
  > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: map.get(map.get($breakpoints, "sm"), "viewport");
  }
}

.header {
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  /* border: 1px solid red; */
}

.logoname {
  font-size: 2em;
  color: rgb(255, 0, 255);
  display: flex;
  align-items: center;
  padding: 0 1em;
  /* margin: 0 2em; */
  /* margin-right: auto; */
}

.five {
  font-family: "Bruno Ace", sans-serif;
}

.loginBtn {
  height: 3em;
  padding: 0 2em;
  margin: 0 2em;
}

.user {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding-right: 1em;
}

.userIcon {
  height: 2em;
}

// .userName {
// padding-top: 17;
// margin-bottom: 0;
// }

.placeholder {
  margin-top: 2em;
}

.loadingMessage {
  margin-bottom: -2em;
  font-size: 0.8em;
  pointer-events: none
}

.transparent {
  visibility: hidden;
  opacity: 0;
}

.character {
  border: 1px solid red;
}

.bucket {
  border: 1px solid blue;
}

.charHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.charTitle {
  // justify-self: center;
  margin: 0;
}

.charIcon {
  height: 3em;
}

.item {
  display: flex;
  align-items: center;
  // padding: 1em;
  gap: 1em;
}

.itemIcon {
  height: 3em;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // margin: 0;
}

.itemName,
.itemRarity,
.itemFlavourText {
  margin-bottom: 0;
  font-size: 0.8em;
}
